In [1]:
from sqlalchemy import create_engine
import datetime

In [2]:
rds_connection_string = "postgres:postgress@gaspriceproject.chejw18rcl0w.us-east-1.rds.amazonaws.com:5432/gaspriceproject"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [3]:
tables = engine.table_names()
tables

['ohio_p',
 'oilprices',
 'regionstates',
 'newyork_m',
 'newyork_p',
 'newyork_r',
 'ohio_m',
 'ohio_r',
 'rockymountain_m',
 'rockymountain_p',
 'rockymountain_r',
 'texas_m',
 'texas_p',
 'newengland_r',
 'california_m',
 'california_p',
 'california_r',
 'centralatlantic_m',
 'colorado_m',
 'texas_r',
 'washington_m',
 'washington_p',
 'centralatlantic_p',
 'centralatlantic_r',
 'colorado_p',
 'colorado_r',
 'eastcoast_m',
 'eastcoast_p',
 'eastcoast_r',
 'gulfcoast_m',
 'gulfcoast_p',
 'gulfcoast_r',
 'loweratlantic_p',
 'loweratlantic_r',
 'loweratlantic_m',
 'midwest_m',
 'midwest_p',
 'midwest_r',
 'washington_r',
 'westcoast_r',
 'newengland_m',
 'westcoast_m',
 'westcoast_p',
 'newengland_p']

In [4]:
for table in tables:
    astr = table
    locals()[astr] = engine.execute(f'select * from {table}').fetchall()

In [5]:
states = ["Alabama", "California"]
fuel_type = 1

if fuel_type == 1:
    grade = "r"
elif fuel_type == 1.25:
    grade = "m"
else:
    grade = "p"


tables_needed = []

for state in states:
    for record in regionstates:
        if state == record[0]:
            region = record[1].replace(" ","").lower()
            table_name = region + "_" + grade
            tables_needed.append(table_name)

tables_needed

['gulfcoast_r', 'california_r']

In [6]:
#DATE

def next_weekday(d, weekday):
    days_ahead = weekday - d.weekday()
    if days_ahead <= 0: # Target day already happened this week
        days_ahead += 7
    return d + datetime.timedelta(days_ahead)

date = '2021-08-08'

year = int(date[:4])
month = int(date[5:7])
day = int(date[8:10])

d = datetime.date(year, month, day)
next_sunday = next_weekday(d, 6).strftime('%Y-%m-%d')
            
next_sunday

'2021-08-15'

In [7]:
# Tank size
tank_size = 15 #gallons

In [8]:
total_cost = 0

for table in tables_needed:
    new_table = locals()[table]
    for record in new_table:
        if next_sunday == record[0]:
            gas_price = float(record[1])
            print(gas_price)
            cost = gas_price*tank_size
            total_cost = cost + total_cost
            break
            
            
total_cost = "{:.2f}".format(total_cost)
total_cost

'0.00'

In [9]:
len(california_r)

1161

In [10]:
california_r[1160]

('2022-08-14', '3.7183636572576284', '3.1306334088590893', '4.448485689431449', '3.5692945192454144', '3.854955781410429', '0.07898436836578134', '0.07898436836578134', '0.07898436836578134', '0.07898436836578134', '0.07898436836578134', '0.07898436836578134', '0.0', '0.0', '0.0', '3.7973480256234096')

In [11]:
len(gulfcoast_r)

1580

In [12]:
gulfcoast_r[1579]

('2022-08-14', '2.132117570351249', '1.6556857482780267', '2.8188693316825804', '2.0383265064350686', '2.227923864542086', '0.08554668739067875', '0.08554668739067875', '0.08554668739067875', '0.08554668739067875', '0.08554668739067875', '0.08554668739067875', '0.0', '0.0', '0.0', '2.217664257741928')

In [13]:
val1 = 3.7183636572576284
val2 = 2.132117570351249
cost1 = val1 * tank_size
cost2 = val2 * tank_size

In [14]:
cost1

55.77545485886443

In [15]:
cost2

31.981763555268735

In [16]:
cost1+cost2

87.75721841413316